/*-------Reset of default syle of page--------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*-------Header--------*/
header{
    height: 100px;
}

/*-------Main--------*/
main{
    min-height: calc(100vh - 200px);
    background-color: gray;
}

/*-------Footer--------*/
footer{
    height: 100px;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
footer>div {
width: 80%;
}

.row{
    min-height: calc(100vh - 200px);

}

.card{
    background-color: white;
    padding: 2px;
    margin: 15px;

}

.card-body{
    background-color: rgb(214, 214, 214);
}
